<?xml version="1.0"?>
<!--
/**
 * @author    JaJuMa GmbH <info@jajuma.de>
 * @copyright Copyright (c) 2022-present JaJuMa GmbH <https://www.jajuma.de>. All rights reserved.
 * @license   http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Jajuma\AwesomeHyva\ViewModel\AwesomeiconsSolid">
        <arguments>
            <argument name="iconPathPrefix" xsi:type="string">Jajuma_AwesomeHyva::svg/awesomeicons/solid</argument>
        </arguments>
    </type>
    <type name="Jajuma\AwesomeHyva\ViewModel\AwesomeiconsRegular">
        <arguments>
            <argument name="iconPathPrefix" xsi:type="string">Jajuma_AwesomeHyva::svg/awesomeicons/regular</argument>
        </arguments>
    </type>
    <type name="Jajuma\AwesomeHyva\ViewModel\AwesomeiconsBrands">
        <arguments>
            <argument name="iconPathPrefix" xsi:type="string">Jajuma_AwesomeHyva::svg/awesomeicons/brands</argument>
        </arguments>
    </type>
    <type name="Hyva\Theme\ViewModel\SvgIcons">
        <arguments>
            <argument name="pathPrefixMapping" xsi:type="array">
                <item name="awesomeicons" xsi:type="string">Jajuma_AwesomeHyva::svg/awesomeicons</item>
            </argument>
        </arguments>
    </type>
    
    <type name="Jajuma\AwesomeHyva\ViewModel\Awesomeicons6Solid">
        <arguments>
            <argument name="iconPathPrefix" xsi:type="string">Jajuma_AwesomeHyva::svg/awesomeicons6/solid</argument>
        </arguments>
    </type>
    <type name="Jajuma\AwesomeHyva\ViewModel\Awesomeicons6Regular">
        <arguments>
            <argument name="iconPathPrefix" xsi:type="string">Jajuma_AwesomeHyva::svg/awesomeicons6/regular</argument>
        </arguments>
    </type>
    <type name="Jajuma\AwesomeHyva\ViewModel\Awesomeicons6Brands">
        <arguments>
            <argument name="iconPathPrefix" xsi:type="string">Jajuma_AwesomeHyva::svg/awesomeicons6/brands</argument>
        </arguments>
    </type>
    <type name="Hyva\Theme\ViewModel\SvgIcons">
        <arguments>
            <argument name="pathPrefixMapping" xsi:type="array">
                <item name="awesomeicons6" xsi:type="string">Jajuma_AwesomeHyva::svg/awesomeicons6</item>
            </argument>
        </arguments>
    </type>
</config>
