<?xml version="1.0" ?>
<!--
/**
 * @author    JaJuMa GmbH <info@jajuma.de>
 * @copyright Copyright (c) 2022-present JaJuMa GmbH <https://www.jajuma.de>. All rights reserved.
 * @license   http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="jajuma" sortOrder="999" class="jajuma-tab" translate="label">
            <label>JaJuMa</label>
        </tab>
        <section id="awesomehyva" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Awesome Hyvä</label>
            <tab>jajuma</tab>
            <resource>Jajuma_AwesomeHyva::config_jajuma_awesomehyva</resource>
            <group id="extension_info" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Extension Information</label>
                <attribute type="expanded">1</attribute>
                <field id="extension_info_text" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                    <frontend_model>Jajuma\AwesomeHyva\Block\System\Config\Form\Jajuma\Module</frontend_model>
                    <comment>
                        <![CDATA[
		                <div style="margin:auto;padding:10px;background-color:#f1f1f1;display:inline-block;width:97%;">
                        <div class="box-img" style="width: 20%;float: left;">
                            <a href="https://www.jajuma.de/en" title="Font Awesome 5 SVG Icons for Hyvä Themes Extension" target="_blank">
			            <div class="jajuma-extlogo"></div>
                            </a>
                            <strong style="font-size: 10px;">Copyright ©
                                <script>var today = new Date();
                                document.write(today.getFullYear());</script>
                                <a href="https://www.jajuma.de/en" target="_blank">www.jajuma.de</a>
                            </strong>
                        </div>
                        <div style="width: 77%;float: left;padding-left: 3%;">
                            <div class="name" style="font-size: 16px;">
                                <b>Font Awesome 5 SVG Icons for Hyvä Themes</b> by <a href="https://www.jajuma.de/en" target="_blank"><b>JaJuMa</b></a>
				        <div class="jajuma-minilogo"></div>
                            </div>
                            <hr>
                            <br>
                        <div class="more"><b>More Information About This Extension:</b>
                            <br>
                            <div><a href="https://www.jajuma.de/en/jajuma-develop/extensions/font-awesome-svg-icons-for-hyva-themes"
				                target="_blank">Website</a> |
				                <a href="https://hyva.extension.jajuma.de/"
				                target="_blank">Demo</a>
				                <div style="float: right;">Installed Version: <b>1.0.0</b></div>
				             </div>
                        </div>
                            <hr>
                            <br>
                            <div class="info"><b>Discover More Ideas To Improve Your Store:</b>
                                <br>
                                <div class="more-ideas-list">
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/ultimate-image-optimizer-extension-for-magento-2"
                                       target="_blank">Ultimate Image Optimizer</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/shariff-social-share-buttons-extension-for-magento-2"
                                       target="_blank">Shariff Social Share Buttons</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/webp-optimized-images-extension-for-magento-2"
                                       target="_blank">WebP Optimized Images</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/prg-pattern-link-masking-for-magento-2"
                                       target="_blank">PRG Pattern Link Masking</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/video-widget-gdpr-extension-for-magento-2"
                                       target="_blank">Video Widget</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/customer-navigation-manager-extension-for-magento-2"
                                       target="_blank">Customer Navigation Manager</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/page-preload-extension-for-magento-2"
                                       target="_blank">Page Preload</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/honey-spam-anti-spam-extension-for-magento-2"
                                       target="_blank">Honey Spam Anti-Spam</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/matomo-analytics-extension-for-magento-2"
                                       target="_blank">Matomo Analytics</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/customer-registration-reminder-and-cleanup-extension-for-magento-2"
                                       target="_blank">Customer Registration Reminder & Cleanup</a>
                                </div>
                        </div>
                            <hr>
                        </div>
                        </div>
                    ]]>
                    </comment>
                </field>
            </group>
            <group id="demo" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Demo + Icon List</label>
                <attribute type="expanded">1</attribute>
                <field id="demo_icon_list" translate="label comment" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                    <frontend_model>Jajuma\AwesomeHyva\Block\System\Config\Form\Jajuma\Module</frontend_model>
                    <comment><![CDATA[
                    <div style="margin: auto; padding: 10px;">
                        <div class="messages" style="padding: 15px 15px 15px 55px;background: #f2f2f2;color: #676056;">
                                <h2><b>Please see all 1600+ available icons on our demo.</b></h2>
                                    <p>The demo site provides a searchable list with all 1600+ included icons.<br>
                                       The demo also provides options to see the icons in your colors and
                                       to get the code for using the icons in your projects easily by copy &amp; paste.
                                       <br><br>
                                       <a href="https://hyva.extension.jajuma.de/awesomehyva/icon/list"
                                       title="Awesome Hyvä Demo &amp; Icon List" target="_blank">
                                       Go to Awesome Hyvä Demo &amp; Icon List</a></p>
                            </div>
                    </div>
                    ]]></comment>
                </field>
            </group>
            <group id="manual" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Manual</label>
                <attribute type="expanded">1</attribute>
                <field id="manual_view_models" translate="label comment" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                    <frontend_model>Jajuma\AwesomeHyva\Block\System\Config\Form\Jajuma\Module</frontend_model>
                    <comment><![CDATA[
                    <div style="margin: auto; padding: 10px;">
                            <div class="messages" style="padding: 15px 15px 15px 55px;background: #f2f2f2;color: #676056;">
                                <h2><b>How to use Font Awesome icons in view models:</b></h2>
                                   <ol type="1" style="padding-left: 15px;">
                                      <li><p><b>Require one of the view models in your template:</b><br></p>
                                        <pre class="code">/** @var \Jajuma\AwesomeHyva\ViewModel\AwesomeiconsSolid $awesomeiconsSolid */
$awesomeiconsSolid = $viewModels-&gt;require(\Jajuma\AwesomeHyva\ViewModel\AwesomeiconsSolid::class);</pre>
                                        <pre class="code">/** @var \Jajuma\AwesomeHyva\ViewModel\AwesomeiconsRegular $awesomeiconsRegular */
$awesomeiconsRegular = $viewModels-&gt;require(\Jajuma\AwesomeHyva\ViewModel\AwesomeiconsRegular::class);</pre>
                                        <pre class="code">/** @var \Jajuma\AwesomeHyva\ViewModel\AwesomeiconsBrands $awesomeiconsBrands */
$awesomeiconsBrands = $viewModels-&gt;require(\Jajuma\AwesomeHyva\ViewModel\AwesomeiconsBrands::class);</pre>
                                      </li>
                                      <li><p><b>Then render the icons like this:</b><br></p>
                                        <pre class="code">&lt;?= $awesomeiconsRegular-&gt;addressBookHtml('w-8 h-8 text-red-100', 24, 24) ?&gt;</pre>
                                        <p>
                                            <ul>
                                                <li>The method name is the camel cased icon name, followed by Html.</li>
                                                <li>In an IDE you should have autocompletion for all available methods.</li>
                                                <li>The parameters are optional, and change the class (in single quotes) followed by 2 values for width and height attributes of the SVG element.</li>
                                                <li>It is recommended to set all of them, so that the images are not rendered in huge sizes if CSS fails to load.</li>
                                            </ul>
                                        </p>
                                        <p>or you may also pass additional attributes like this as an array:</p>
                                        <pre class="code">&lt;?= $awesomeiconsRegular->addressBookHtml('text-red-100', 24, 24, ['style'=>'position:relative']) ?&gt;</pre>
                                      </li>
                                   </ol>
                                <h2><b>How to use Font Awesome icons in CMS content:</b></h2>
                                    <p>Awesome Hyvä module adds an icon directive to render icons in filtered content like CMS blocks or pages.<br>
                                    So you may add icons in text / code blocks like this:</p>
                                    <pre class="code">{{awesome "solid/address-book" classes="w-6 h-6 text-red-100" width=12 height=12}}</pre>
                                    <p>
                                        <ul>
                                            <li>"classes" parameter is used for setting any css class.</li>
                                            <li>"width"/"height" parameters are used for setting width/height attributes for icons.</li>
                                            <li>Hint: You may get the code snippets for copy & paste for each icon on the demo - see link below.</li>
                                        </ul>
                                    </p>
                            </div>
                    </div>
                    <style>
                        pre.code {
                            background: #3c3c3c;
                            border: 1px solid #ddd;
                            border-left: 5px solid #efb602;
                            color: #fef4f4;
                            page-break-inside: avoid;
                            font-family: monospace;
                            font-size: 15px;
                            line-height: 1.6;
                            margin-bottom: 1.6em;
                            max-width: 100%;
                            overflow: auto;
                            padding: 1em 1.5em;
                            display: block;
                            word-wrap: break-word;
                            border-radius: 10px;
                        }
                    </style>
                    ]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
